/* Dashboard */
:root {
  --background-color: #F5F5F5;
  --primary: #FE8F01;
  --primary-hover: #FEEEDA;
  --white: #fff;
}

#content {
  background-color: var(--background-color);
  min-height: calc(84vh);
}

.icon-primary {
  color: var(--primary);
}

#sidebar {
  /*min-width: 300px;  */
  min-height: 100vh;
  background: var(--white);  
}

/*customs*/
.btn-active {
  color: var(--white) !important;
  background-color: var(--primary) !important;
}

.link-body-emphasis {
  color: #777 !important;
}

#sidebar-menu .link-body-emphasis:hover {
  background-color: var(--primary-hover);
}

#toggleSidebarButton {
  border-radius: 0px 8px 8px 0px;
}

.text-primary {
  color: var(--primary) !important;
}

/* Dashboard */

