/* Dashboard */
:root {
  --background-color: #F5F5F5;
  --primary: #FE8F01;
  --primary-hover: #FEEEDA;
  --white: #fff;
}

#content {
  background-color: var(--background-color);
  width: 100%;
  padding: 0;
  min-height: 100vh;  
}

#sidebar {
  /*min-width: 300px;  */
  min-height: 100vh;
  background: var(--white);  
}

#sidebar, #sidebar-menu, .sidebar-text {
  transition-timing-function: ease-in;
  transition: width 0.2s, height 1s;
}

/*customs*/
.btn-active {
  color: var(--white) !important;
  background-color: var(--primary) !important;
}

.link-body-emphasis {
  color: #777 !important;
}

.link-body-emphasis:hover {
  background-color: var(--primary-hover);
}

/* Dashboard */

/*experiment*/