/* Login Pages */

:root {
  --primary: #FE8F01;
}

.form-control {
  margin-left: 0px !important;
}

.input-group-text, .input-group > input {
  background-color: rgb(0,0,0, 0.07) !important;
  border-left: 0 !important;
  border-right: 0 !important;
}

.login {
  color: rgba(0, 0, 0, 0.80);
  /* Typography LP/Body 3 - Regular 14 */
  font-family: 'Lato';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 157.143% */
}

.login-button {
  color: #fff;
  background-color: #18417D;
}

.login-background {
  background:url('../images/background.jpg') center center;
  background-attachment: fixed;
  background-size:cover;
}

.login-background-color {
  background-color: var(--primary);
}

.login-background-opacity {
  background-color: rgb(0,0,0,0.5);
}

.login-image {        
  background:url('../images/login.png') center center;
  background-size:cover;
}

.login-paragraph {
  color: #21272A;
  text-align: justify;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
}

.powered-by {
  color: #999;
  font-family: 'Lato';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.07px;
}
/* Login Pages */
